.form-switcher {
  --form-switcher-font-size: 16px;
  --form-switcher-line-height: 24px;
  --form-switcher-bg-color: transparent;
  --form-switcher-hover-bg-color: transparent;
  --form-switcher-padding-body: var(--outside-form-switcher-padding-body, 0);
  --form-switcher-radius-body: 0;
  --form-switcher-color: var(--c-typo-main-color);
  --form-switcher-error-color: var(--c-system-danger-color);

  display: inline-flex;
  flex-direction: column;
  position: relative;

  &__body {
    padding: var(--form-switcher-padding-body);
    display: flex;
    align-items: center;
    gap: 12px;

    @include font(var(--form-switcher-font-size), var(--form-switcher-line-height));

    color: var(--form-switcher-color);
    border-radius: var(--form-switcher-radius-body);
    background-color: var(--form-switcher-bg-color);
    transition: $animation-speed $animation-function;
    transition-property: color, background-color;

    @include hover {
      background-color: var(--form-switcher-hover-bg-color);
    }
  }

  &__label {
    display: block;
    position: relative;
    user-select: none;

    @include font(12px, 16px);
  }

  &__error {
    padding-top: 8px;
    color: var(--form-switcher-error-color);
    padding-left: 32px;

    @include font(12px, 16px);

    @include media-breakpoint-up(xl) {
      @include font(14px, 20px);
    }
  }

  &--disclaimer {
    @include font(12px, 16px);

    @include media-breakpoint-up(xl) {
      @include font(14px, 20px);
    }

    .form-switcher__body {
      align-items: center;
    }
  }

  &--size-lg {
    @include media-breakpoint-up(md) {
      --form-switcher-font-size: 20px;
      --form-switcher-line-height: 28px;
    }
  }
}