<section class="section section--secondary">
  <div class="container">
    <h2 class="section__head-title">ПРЕИМУЩЕСТВА</h2>
    <p class="section__text section__text--offset-bottom">В&nbsp;чем особенности этого решения</p>
    <div class="accordion">
      <ul class="accordion__list">
        <li class="accordion__item">
          <div class="accordion__wrapper">
            <details class="accordion__body">
              <summary class="accordion__title">
                Полноценная безопасность приложений
                <span class="accordion__icon">
                  <svg width="32" height="32" class="accordion__icon-img" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#accordion-plus-36"></use>
                  </svg>
                </span>
              </summary>
              <div class="accordion__content">
                <div class="wysiwyg">
                  <p>
                    Всесторонний контроль безопасности&nbsp;ПО основными видами анализа кода (SAST, DAST, SCA, SCS) в&nbsp;одном решении
                  </p>
                </div>
              </div>
            </details>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__wrapper">
            <details class="accordion__body">
              <summary class="accordion__title">
                Работает даже без исходного кода
                <span class="accordion__icon">
                  <svg width="32" height="32" class="accordion__icon-img" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#accordion-plus-36"></use>
                  </svg>
                </span>
              </summary>
              <div class="accordion__content">
                <div class="wysiwyg">
                  <p>
                    Возможность анализа бинарного кода, проверки мобильных приложений по&nbsp;ссылке в&nbsp;App Store или Google Play и&nbsp;готовых веб-приложений
                  </p>
                </div>
              </div>
            </details>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__wrapper">
            <details class="accordion__body">
              <summary class="accordion__title">
                Сертифицированная российская разработка
                <span class="accordion__icon">
                  <svg width="32" height="32" class="accordion__icon-img" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#accordion-plus-36"></use>
                  </svg>
                </span>
              </summary>
              <div class="accordion__content">
                <div class="wysiwyg">
                  <p>
                    Solar appScreener cертифицирован ФСТЭК России, внесен в&nbsp;Единый реестр отечественного&nbsp;ПО, соответствует требованиям ОУД4 и&nbsp;подходит для импортозамещения.
                  </p>
                </div>
              </div>
            </details>
          </div>
        </li>
        <li class="accordion__item">
          <div class="accordion__wrapper">
            <details class="accordion__body">
              <summary class="accordion__title">
                Мировой лидер по&nbsp;числу языков программирования
                <span class="accordion__icon">
                  <svg width="32" height="32" class="accordion__icon-img" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#accordion-plus-36"></use>
                  </svg>
                </span>
              </summary>
              <div class="accordion__content">
                <div class="wysiwyg">
                  <p>
                    Поддержка 36&nbsp;языков программирования, 10&nbsp;форматов исполняемых файлов и&nbsp;программ-полиглотов
                  </p>
                </div>
              </div>
            </details>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>