<head>
  <meta charset="UTF-8" />
  
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32.png">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }}</title>
  <meta name="description" content="Что вы можете с Solar appScreener.">
  <meta name="keywords" content="Solar appScreener">
  
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="Генератор идеи." />
  <meta property="og:image" content="/img/your-image.jpg" />
  <meta property="og:url" content="https://yourwebsite.com/current-page" />
  <meta property="og:type" content="website" />
</head>