<section class="section">
  <div class="container">
    <div class="promo" id="possibilities">
      <h2 class="promo__title">Что вы можете с Solar appScreener</h2>
      <div class="promo__wrapper">
      <div class="promo__slider swiper-container">
        <ul class="promo__list swiper-wrapper">
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-cube">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Настроить цикл безопасной разработки</h3>
                <p class="promo-card__text">Легко интегрировать SAST, DAST, SCA и SCS в процессы создания ПО</p>
              </div>
            </article>
          </li>
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-down">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Снизить риски ИБ</h3>
                <p class="promo-card__text">Предотвращать инциденты, связанные с&nbsp;уязвимостями в&nbsp;коде</p>
              </div>
            </article>
          </li>
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-star">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Контролировать аутсорсинг разработки</h3>
                <p class="promo-card__text">Следить за&nbsp;ходом работы подрядчиков и&nbsp;проверять
                  унаследованное&nbsp;ПО без разработчиков</p>
              </div>
            </article>
          </li>
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-time">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Ускорить вывод продукта на рынок</h3>
                <p class="promo-card__text">Анализ безопасности кода способствует сокращению сроков вывода&nbsp;ПО
                  на&nbsp;рынок</p>
              </div>
            </article>
          </li>
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-arrow">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Выполнять требования по&nbsp;защите кода</h3>
                <p class="promo-card__text">Соблюдать нормы ФСТЭК, Минкомсвязи, Роскомнадзора и&nbsp;других регуляторов
                </p>
              </div>
            </article>
          </li>
          <li class="promo__item swiper-slide">
            <article class="promo__slide promo-card promo-card--pic-control">
              <div class="promo-card__info">
                <h3 class="promo-card__title">Выполнять требования по&nbsp;защите кода</h3>
                <p class="promo-card__text">Соблюдать нормы ФСТЭК, Минкомсвязи, Роскомнадзора и&nbsp;других регуляторов
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
      </div>
      <a href="#promo" class="promo__btn btn btn--primary btn--size-large">Запросить консультацию</a>
    </div>
  </div>
</section>