*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
  font-family: $basic-family;
}

body {
  font-size: 14px;
  line-height: 1.3;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style-type: none;
}

picture {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

*:focus-visible {
  outline-offset: 1px;
  outline: 2px solid var(--c-brand-main-color);
}
